{% extends 'layout.html.twig' %}

{% block title  %}
  Detalle:  {{ pelicula.titulo }}
{% endblock %}

{% block content %}

    <h1><span style="color: blue">Titulo:</span> {{ pelicula.titulo }}</h1>
    <h1><span style="color: blue">Director:</span> {{ pelicula.director }}</h1>
    <h1><p style="color: blue">Resumen</p> {{ pelicula.resumen}}</h1>

    <a class="btn btn-primary" href="{{ path('peliculastodas') }}">Volver</a>

{% endblock %}