{% extends 'layout.html.twig' %}

{% block title 'Peliculas disponibles' %}

{% block content %}

    <h1>Lista de películas</h1>

    <p>
        <a href="{{ path('pelicula+') }}" class="btn btn-success">Añadir Película</a>
    </p>
    <table border="1px" width=>
        <thead>
        <tr>
            <th>Titulo</th>
            {#<th>Director</th>#}
            {#<th>Resumen</th>#}
        </tr>
        </thead>
        <tbody>
        {% for pelicula in peliculas %}
            <tr>
                <td><a href="{{ path('pelicula', {'id': pelicula.id}) }}">{{ pelicula.titulo }}</a></td>
                {#<td width="100px">{{ pelicula.director }}</td>#}
                {#<td width="100px">{{ pelicula.resumen}}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

